Extension/*.*
poetry.lock
output/
Results/
venv*
.venv*
.env
.idea/*
.*project
*.pyc
src/robotframework.egg-info
__pycache__
log.html
output.xml
report.html
.classpath
.settings
.jython_cache
.mypy_cache/
*.iml
*$py.class
*~
tmp
build
dist
target
MANIFEST
.python-version
interactive_console_output.xml
playwright-log.txt
playwright-log.txt~origin_master
browser/
*.swp
log/*
/tmp
.DS_Store
/venv
playwright-log*.*
.pabotsuitenames
*.har
*.webm
pabot_results/*
Reports/log*.js
Resources/Uploads/Generated_Files/*.*
